# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
testing/*
training/*
embeddings/*

*.iml

/Graphs/testing/*
/Graphs/training/*
/Graphs/embeddings/*
/Graphs/tmp/*
